---
import Layout from "../layouts/Layout.astro";
---

<Layout title="about">
  <main>
    <section>
      <h1>Acerca de nosotros</h1>
      <p>
        <strong>Objetivo:</strong><br />
        Nuestro objetivo es proporcionar información sobre los lugares emblematicos
        de la semana santa. Asi como tambien las diferentes artesanias que se pueden
        encontrar en esta epoca.
      </p>
      <p>
        <strong>Misión:</strong><br />Nuestra misión es proporcionar un espacio
        en línea donde los lectores puedan encontrar recursos de una manera más
        facíl, los lugares en los que se realizan eventos en la semana santa en
        Popayán.
      </p>
    </section>
  </main></Layout
>
