---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Semana Santa Popayán">
  <main>
    <h1>Semana Santa Popayán</h1>

    <div class="que-es">
      <section>
        <h2>¿Que es la Semana Santa?</h2>
        <p>
          La Semana Santa es una de las celebraciones anuales populares más
          importantes de la cultura cristiana, que conmemora las distintas
          etapas de la Pasión de Jesucristo: desde su entrada a Jerusalén, hasta
          su viacrucis, muerte y resurrección. Estas celebraciones se realizan
          en fechas variables entre el 22 de marzo y el 25 de abril.
        </p>
      </section>
      <img src="semana.webp" alt="Logo de la semana santa de Popayán" />
    </div>
    <div class="que-se-hace">
      <img src="muchacha.webp" alt="Logo de la semana santa de Popayán" />

      <section>
        <h2>¿Que se hace en la semana santa?</h2>
        <p>
          Se realizan procesiones de manera continua desde el siglo XVI,
          comenzando en la noche del Viernes de Dolores y culminando el Sábado
          Santo. Las cuales tienen lugar en las antiguas calles de la “Ciudad
          Blanca”. Durante esta semana,se exhiben pasos que representan escenas
          de la Pasión de Cristo. Los “cargueros”, personas devotas, llevan
          estos pasos en hombros mientras recorren aproximadamente dos
          kilómetros por el centro de la ciudad. La Semana Santa en Popayán es
          una experiencia única que combina tradición, fe y cultura, y ha sido
          reconocida como Patrimonio Cultural Inmaterial de la Humanidad por la
          UNESCO. Además de las procesiones, los visitantes pueden explorar las
          iglesias y museos de la ciudad, sumergiéndose en su rica arquitectura
          colonial y su historia profundamente arraigada.
        </p>
      </section>
    </div>
  </main>
</Layout>

<style>
  h1 {
    text-align: center;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50rem;
    margin: 0 auto;
  }
  .que-es {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  .que-se-hace {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  img {
    width: 300px;
  }

  h2 {
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
  }
</style>
