---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Santuario de belén">
  <main>
    <section>
      <h1>Iglesias procesionales</h1>
      <h2>Santuario de belén</h2>
      <img src="/iglesias/belen.webp" alt="Iglesia de belen en la ciudad de popayan" />
      <p>
        "Este templo se encuentra ubicado en la cima de una colina al oriente
        del centro histórico, en donde se puede apreciar una hermosa vista de la
        ciudad y es el lugar de culto principal del Santo Ecce Homo, el patrono
        de Popayán.👐📖"
      </p>
      <p>
        <strong>Dirección:</strong> Cra. 7 Nte. #3-50, Popayán, Cauca
        <br /><strong>Misas:</strong> Lunes a sábados a las 04:00 P.M y domingos
        11:30 P.M- 04:00 P.M
      </p>
    </section>
  </main>
</Layout>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    text-align: center;
    font-size: 2.5rem;
  }
  h2 {
    text-align: center;
    font-size: 2rem;
  }
  p {
    max-width: 50rem;
  }
  img {
    width: 500px;
  }
</style>
