---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="catedral">
  <main>
    <section>
      <h1>Iglesias procesionales</h1>
      <h2>Catedral Bas칤lica Metropolitana de Nuestra Se침ora de la Asunci칩n</h2>
      <img src="/iglesias/catedral.webp" alt="Catedral Bas칤lica Metropolitana de Nuestra Se침ora de la Asunci칩n" />
      <p>
        "La Catedral Bas칤lica Metropolitana de Nuestra Se침ora de la Asunci칩n en
        Popay치n, Cauca, Colombia, es un tesoro arquitect칩nico y
        religioso. Su construcci칩n se realiz칩 en tres fases a lo largo de
        los a침os, y su estilo neocl치sico la hace destacar en el centro
        hist칩rico. Dedicada a la Virgen Mar칤a, su fiesta se celebra el 15
        de agosto. La catedral alberga la Arquidi칩cesis de Popay치n y es un
        lugar imperdible para quienes visitan esta ciudad. 游游똂"
      </p>
      <p>
        <strong>Direcci칩n: </strong>Calle 5, Popay치n, Cauca, Colombia.
        <br />
        <strong>Horario de atenci칩n: </strong> Lunes a sabado de 7:00 a.m. a 6:00
        p.m. y Domingos de 8:00 a.m. a 1:30 p.m.
      </p>
    </section>
  </main>
</Layout>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    text-align: center;
    font-size: 2.5rem;
  }
  h2 {
    text-align: center;
    font-size: 2rem;
  }
  p {
    max-width: 50rem;
  }
  img {
    width: 60%;
  }
</style>
