---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="ermita">
  <main>
    <section>
      <h1>Iglesias procesionales</h1>
      <h2>Ermita de Jesús de Nazareno</h2>
      <img src="/iglesias/ermita.webp" alt="Templo la Ermita" />
      <p>
        "Catalogado como el templo más antiguo de Popayán, fue construido en el
        año 1612 en el Centro Histórico, situado hacia el oriente en una pequeña
        prominencia lo que permite que sea visible desde diversos puntos de la
        ciudad.En su interior se encuentra la imagen de la Virgen de la Ermita,
        patrona de la ciudad, la cual es venerada por los payaneses y
        visitantes. La iglesia es de estilo colonial y cuenta con una sola nave,
        en su fachada se destaca la torre campanario y la portada de estilo
        barroco.⛪️🕯️"
      </p>
      <p>
        <strong>Dirección: </strong>Calle 5, Popayán, Cauca, Colombia.
        <br />
        <strong>Horario de atención: </strong> Lunes a sabado de 7:00 a.m. a 9:00
        p.m. y Domingos de 7:00 a.m. a 7:00 p.m.
      </p>
    </section>
  </main>
</Layout>

<style>
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h1 {
        text-align: center;
        font-size: 2.5rem;
    }
    h2 {
        text-align: center;
        font-size: 2rem;
    }
    p{
        max-width: 50rem;
    }
    img {
        width: 60%;
        height: auto;
    }
</style>