---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="San Francisco">
  <main>
    <section>
      <h1>Iglesias procesionales</h1>
      <h2>San Francisco de Asís</h2>
      <img src="/iglesias/sanfrancisco.webp" alt="San Francisco de Asís" />
      <p>
        "La iglesia fue construida en el siglo XVI y luego reconstruida entre
        1765 y 1788. Su arquitecto fue Fray Antonio García. El estilo barroco
        neogranadino se refleja en su diseño. En su campanario, alberga una de
        las campanas más grandes de América, conocida como la campana de San
        Antonio, fundida en oro y bronce.🕯️☦️"
      </p>
      <p>
        "La iglesia cuenta con diez altares laterales, cada uno con imágenes
        destacadas, como San Pedro Alcántara, el Señor de la Coronación, el
        Cristo de la Veracruz, San Francisco de Asís, San Antonio de Padua y el
        Cristo conocido como “El Cachorro”.En 1996, fue declarada Monumento
        Nacional de Colombia por su importancia histórica y arquitectónica.🌄⛪"
      </p>
      <p>
        <strong>Dirección:</strong> Carrera 9 # 4-29,Centro,Popayan.
        <br />
        <strong>Horario:</strong> Martes a viernes de 8:00 a.m. a 12:00 p.m. y de
        2:00 p.m. a 5:00 p.m.
      </p>
    </section>
  </main>
</Layout>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    text-align: center;
    font-size: 2.5rem;
  }
  h2 {
    text-align: center;
    font-size: 2rem;
  }
  p {
    max-width: 50rem;
  }
  img {
    width: 60%;
  }
</style>
