---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="sanagustin">
  <main>
    <section>
      <h1>Iglesias procesionales</h1>
      <h2>San Agustín</h2>
      <img src="/iglesias/agustin/agustin1.webp" alt="Iglesia de San Agustín" />
      <p>
        "Fundada por Fray Jerónimo Escobar y la Orden de San Agustín, la iglesia
        tiene una fachada que se aleja del estilo colonial español. Posee dos
        entradas una principal hacia la calle de las Cárceles (calle 7) y otra más
        modesta hacia la calle de San Agustín (carrera 6).🕊️🙏"
      </p>
      <p>
        <strong>Dirección:</strong> Carrera 6 #762,Centro,Popayán.
        <br/><strong> Horario:</strong> Martes a Domingo de 7:00 a.m a 5:00 p.m.
      </p>
    </section>
  </main>
</Layout>
<style>
    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    h1 {
      text-align: center;
      font-size: 2.5rem;
    }
    h2 {
      text-align: center;
      font-size: 2rem;
    }
    p {
      max-width: 50rem;
    }
    img {
      width: 500px;
    }
  </style>
  