<footer>
    <nav>
        <ul>
            <li><a href="/about">Acerca de nosotros</a></li>
            <li><a href="/contact">Contacto: 3128064541</a></li>
        </ul>
    </nav>
</footer>

<style>
    footer {
        background-color: #AE8625;
        color: white;
        text-align: center;
        padding: 10px;
    }

    footer nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;
        gap: 6rem;
    }

    footer nav ul li {
        display: inline;
        margin-right: 10px;
    }

    footer nav ul li a {
        color: white;
        text-decoration: none;
    }