---

---
<nav>
    <div class="logo">
      <a href="#"><img src="/logo.webp" alt="Logo"></a>
    </div>
    <ul class="menu">
      <li><a href="/">Inicio</a></li>
      <li class="dropdown">
        <a href="#">Iglesias</a>
        <ul class="submenu">
          <li><a href="/iglesias/belen">Santuario de Belén</a></li>
          <li><a href="/iglesias/catedral">Catedral basílica de Nuestra Señora de la Asunción</a></li>
          <li><a href="/iglesias/ermita">Iglesia de La Ermita</a></li>
          <li><a href="/iglesias/san-agustin">Iglesia de San Agustín</a></li>
          <li><a href="/iglesias/san-francisco">Iglesia de San Francisco</a></li>
          <li><a href="/iglesias/santo-domingo">Iglesia de Santo Domingo</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">Artesanias</a>
        <ul class="submenu">
          <li><a href="/artesanias/manos-oro">Manos de ORO</a></li>
          <li><a href="/artesanias/casa-moneda">Casa de la Moneda</a></li>
          <li><a href="/artesanias/inem">INEM</a></li>
        </ul>
      </li>
    </ul>
  </nav>

<style>
nav {
  background-color: #fff;
  color: black;
  border-bottom: 5px solid #AE8625;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 2rem;
}

.logo img {
    margin-top: 5px;
    max-height: 60px;
    border-radius: 50%;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  justify-content: space-between;
  margin: 0 auto;
}

.menu > li {
  position: relative;
  list-style: none;
}

.menu > li > a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 15px;
  font-size: 1rem;
  font-weight: 400;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  text-align: left;
}

.submenu li {
  list-style: none;
}

.submenu li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 0.9rem;
  font-weight: 400;
}

.submenu li a:hover {
  background-color: #f5f5f5;
}

.dropdown:hover .submenu {
  display: block;
}
</style>
