---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Artesanias | Casa de la Moneda">
  <main>
    <section>
      <h1>Casa de la moneda</h1>
      <img src="/artesanias/casa-moneda/casa.jpeg" alt="" />
      <p>
        La Casa de la Moneda de Popayán es un importante centro artesanal donde
        se exhiben y venden diferentes artículos de toda clase.
      </p>
    </section>
  </main>
</Layout>
