---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="manos-oro">
  <main>
    <section>
      <h1>Manos de oro</h1>
      <p>
        "Manos de Oro, es uno de los componentes de la Fundación Junta
        Permanente Pro Semana Santa de Popayán,en donde su principal objetivo se
        enfoca en la promoción y apoyo de los artesanos tanto a nivel regional
        como nacional.En el cual se pueden encontrar diversos artículos que se
        muestran a continuación:"
        
      </p>
    </section>
  </main>
</Layout>
